<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Seznam produktů</title>
</head>
<body>

<a th:href="@{'/cart'}">Zobrazit košík</a>
<a th:href="@{'/order-form'}">Zobrazit seznam objednávek</a>

<h2>Seznam produktů</h2>
<div th:each="product: ${products}">
    <h2 th:text="${product.name}">Product name</h2>
    <a th:href="@{'/product/detail/' + ${product.id}}">Detail</a>
    <a th:href="@{'/cart/add/' + ${product.id}}">Přidat do košíku</a>
</div>

</body>
</html>